*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Fugaz One', cursive;
}
/* AQUI TENEMOS LA PARTE DE ESTILO DE LA BARRA DE NAVEGACION */
.header__nav{
	background-color: #8338ec;
	padding: 15px;	
	border-bottom: solid;
	border-width: 2px;
	border-color: #ffbe0b;
}
.header__a00{

	background-color: #8338ec;
	border-style: none;
	color: #ffbe0b;
	position: relative;
	left: 30em;
	margin: 10px;
	margin-right: 00px;
	font-size: 26px;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 900;
	border-top: solid;
	
}
.footer__h4{
	color: #ffbe0b;
	font-weight: 100;
	margin-top: 14em;
	margin-left: 5em;
}
.header__a00:hover{
	background-color: #000;
	
}
/* AQUI TENEMOS LA PARTE DE ESTILO DEL HEADER*/

.header__h1{
	color: #ffbe0b;
	font-size: 6em;
	margin: 100px 00px 00px 50px;
}
.header__h2{
	color: #ffbe0b;
	font-size: 2em;
	text-align: justify;
	margin: 0px 100px 20px 50px;
}
.section__{
	background-color: #8338ec;
	border-color: #ffbe0b;
	margin-left: 2em;
	margin-right: 8em;
	padding-bottom: 0,2em;
	border-radius: 60px 0px 60px 0px;
	
}

.button__00{
	background-color: #8338ec;
	position: absolute;
	margin-left: 2em;
	margin-top: 15px;
	padding: 15px;
	font-size: 20px;
	color: #ffbe0b;
	text-decoration: none;
	border-style: solid;
	border-color: #ffbe0b;
	border-radius: 30px 0px 30px 0px;

}

.button__00:hover{
	background-color: #ffbe0b;
	color: #8338ec;
	border-style: solid;
	border-color: #8338ec;
}

/* AQUI EMPEZAMOS CON EL ESTILO DE LA SECCION EMPEZAR*/
.header__h1--02{
	width: 80vw;
	text-align: center;
}
.header__h2--00{
	width: 80vw;
	text-align: center;
}
.img__00{
	position: absolute;
	width: 70vw;
	margin: 2em;
}
.article__p--00{
	position: absolute;
	margin-top: 1000px;
	width: 70vw;
	text-align: center;
	text-align: justify;
	margin-left: 2em;
}
.aside__00{
	position: absolute;
	margin-left: 77vw;
	margin-right: 2vw;
	margin-top: 8vh;
}
.a__00{
	position: absolute;
	margin-top: 1250px;
}
.aside__h3--00{
	margin-bottom: 5vh;
	font-size: 30px;
}
.article__a--00{
	padding: 10px;
	margin: 5em;
	margin-bottom: 2em;
	background-color: #8338ec;
	color: #ffbe0b;
	margin: 2em;
}
.article__a--00:hover{
	padding: 8px;
	background-color: #ffbe0b;
	color: #8338ec;
	border-style: solid;
	border-color: #8338ec;
	border-width: 2px;
}
/* AQUI LOS ESTILOS DE LA SECCION  UNO "BLOG"*/

.header__h1--03{
	width: 80vw;
	text-align: center;	
}
.article__img--02{
	position: absolute;
	width: 70vw;
	margin: 2em;
}

.a__02{
	position: absolute;
	margin-top: 750px;
}
.article__p--02{
	position: absolute;
	margin-top: 600px;
	width: 70vw;
	text-align: center;
	text-align: justify;
	margin-left: 2em;	
}
.article__a--02{
	padding: 10px;
	margin: 5em;
	margin-bottom: 2em;
	background-color: #8338ec;
	color: #ffbe0b;
	margin: 2em;
}
.article__a--02:hover{
	padding: 8px;
	background-color: #ffbe0b;
	color: #8338ec;
	border-style: solid;
	border-color: #8338ec;
	border-width: 2px;
}

/* AQUI LOS ESTILOS DE LA SECCION DOS "MI MUSICA"*/

.header__h1--03{
	width: 80vw;
	text-align: center;
}
.article__img--00{
	position: absolute;
	width: 70vw;
	margin: 2em;
}
.article__p--01{
	position: absolute;
	margin-top: 1000px;
	width: 70vw;
	text-align: center;
	text-align: justify;
	margin-left: 2em; 
}
.a__01{
	position: absolute;
	margin-top: 1150px;
}

.article__a--01{
	padding: 10px;
	margin: 5em;
	margin-bottom: 2em;
	background-color: #8338ec;
	color: #ffbe0b;
	margin: 2em;
}
.article__a--01:hover{
	padding: 8px;
	background-color: #ffbe0b;
	color: #8338ec;
	border-style: solid;
	border-color: #8338ec;
	border-width: 2px;
}

/* 	ACA LOS ESTILOS PARA LA SECCION TRES "DEVF"*/

.header__h1--04{
	width: 100vw;
	text-align: center;
	font-size: 3.5em;
}
.img__04{
	position: absolute;
	width: 20em;
	margin-left: 60vw;
	border-radius: 12px;
	margin-top: 5em;
}
 .titulo__00{
	position: absolute;
	font-size: 2em;
	width: 60vw;
	height: 2em;
	text-align: center;
	margin-top: 6em;	
 }

 .parrafo__10{
	margin-top: 30em;
	margin-left: 5em;
	margin-right: 5em;
	text-align: justify;
 }

 .a__05{
	position: absolute;
	margin-top: 100px;
	margin-left: 35em;
 }
 .article__a--05{
	padding: 10px;
	margin: 5em;
	margin-bottom: 2em;
	background-color: #8338ec;
	color: #ffbe0b;
	margin: 10px;	
 }
 .article__a--05:hover{
	padding: 8px;
	background-color: #ffbe0b;
	color: #8338ec;
	border-style: solid;
	border-color: #8338ec;
	border-width: 2px;
}
.section__h2--tecnologias{
	font-size: 3em;
	text-align: center;
	margin: 1em;
}

.section__div00--img{
	width: 200px;
	margin: 2em;
}
.section__div00{
	display: inline-block;
	margin: 0px 0px 0px 25em;
}
.section__h3--redes-sociales{
	font-size: 3em;
	text-align: center;
	margin: 1em;	
}
.section__div01--img{
	width: 200px;
	margin: 2em;
}
.section__div01{
	display: inline-block;
	margin: 0px 0px 0px 25em;
}